In [7]:
import pandas as pd
import os
import glob

In [8]:
def combine_csvs():
    '''Combines all CSV files in the current directory and exports them into a combined CSV. Assumes all CSV files follow same format'''
    
    extension = 'csv'
    
    all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
    print(f"CSV files found: {all_filenames}")
    
    if not all_filenames:
        print("No CSV files found.")
        return None
        
    combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
    combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')
    print("CSVs successfully combined and exported to 'combined_csv.csv'")
    
    return combined_csv

In [9]:
df = combine_csvs()

CSV files found: ["ACRA Information on Corporate Entities ('G').csv", "ACRA Information on Corporate Entities ('Others').csv", "ACRA Information on Corporate Entities ('E').csv", "ACRA Information on Corporate Entities ('Z').csv", "ACRA Information on Corporate Entities ('A').csv", "ACRA Information on Corporate Entities ('X').csv", "ACRA Information on Corporate Entities ('C').csv", "ACRA Information on Corporate Entities ('D').csv", "ACRA Information on Corporate Entities ('F').csv", "ACRA Information on Corporate Entities ('B').csv", "ACRA Information on Corporate Entities ('Y').csv", "ACRA Information on Corporate Entities ('L').csv", "ACRA Information on Corporate Entities ('W').csv", "ACRA Information on Corporate Entities ('N').csv", "ACRA Information on Corporate Entities ('U').csv", "ACRA Information on Corporate Entities ('Q').csv", "ACRA Information on Corporate Entities ('J').csv", "ACRA Information on Corporate Entities ('S').csv", "ACRA Information on Corporate Entities ('H').csv", "ACRA Information on Corporate Entities ('T').csv", "ACRA Information on Corporate Entities ('O').csv", "ACRA Information on Corporate Entities ('V').csv", "ACRA Information on Corporate Entities ('M').csv", "ACRA Information on Corporate Entities ('I').csv", "ACRA Information on Corporate Entities ('R').csv", "ACRA Information on Corporate Entities ('K').csv", "ACRA Information on Corporate Entities ('P').csv"]

/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
/var/folders/y7/2tm22kqn1vn2t_p4t87bt91h0000gn/T/ipykernel_15689/3881142790.py:13: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

CSVs successfully combined and exported to 'combined_csv.csv'

In [10]:
df.head()

,uen,issuance_agency_id,entity_name,entity_type_description,business_constitution_description,company_type_description,paf_constitution_description,entity_status_description,registration_incorporation_date,uen_issue_date,...,uen_of_audit_firm1,name_of_audit_firm1,uen_of_audit_firm2,name_of_audit_firm2,uen_of_audit_firm3,name_of_audit_firm3,uen_of_audit_firm4,name_of_audit_firm4,uen_of_audit_firm5,name_of_audit_firm5
0,00046100L,ACRA,G M DE SILVA JEWELLERS,Sole Proprietorship/ Partnership,Sole-Proprietor,na,na,Terminated,1974-09-26,1974-09-26,...,na,na,na,na,na,na,na,na,na,na
1,00056900C,ACRA,GUAN HUAT HIN,Sole Proprietorship/ Partnership,Partnership,na,na,Terminated,1974-10-14,1974-10-14,...,na,na,na,na,na,na,na,na,na,na
2,00072900X,ACRA,GOH SOON MOH UNDERTAKER,Sole Proprietorship/ Partnership,Partnership,na,na,Live,1974-10-03,1974-10-03,...,na,na,na,na,na,na,na,na,na,na
3,00099300W,ACRA,GEIOK KEE,Sole Proprietorship/ Partnership,Partnership,na,na,Terminated,1974-09-14,1974-09-14,...,na,na,na,na,na,na,na,na,na,na
4,00154200A,ACRA,GUAN SENG LOONG,Sole Proprietorship/ Partnership,Sole-Proprietor,na,na,Cancelled,1974-10-24,1974-10-24,...,na,na,na,na,na,na,na,na,na,na

In [11]:
df.columns

Index(['uen', 'issuance_agency_id', 'entity_name', 'entity_type_description',
       'business_constitution_description', 'company_type_description',
       'paf_constitution_description', 'entity_status_description',
       'registration_incorporation_date', 'uen_issue_date', 'address_type',
       'block', 'street_name', 'level_no', 'unit_no', 'building_name',
       'postal_code', 'other_address_line1', 'other_address_line2',
       'account_due_date', 'annual_return_date', 'primary_ssic_code',
       'primary_ssic_description', 'primary_user_described_activity',
       'secondary_ssic_code', 'secondary_ssic_description',
       'secondary_user_described_activity', 'no_of_officers',
       'former_entity_name1', 'former_entity_name2', 'former_entity_name3',
       'former_entity_name4', 'former_entity_name5', 'former_entity_name6',
       'former_entity_name7', 'former_entity_name8', 'former_entity_name9',
       'former_entity_name10', 'former_entity_name11', 'former_entity_name12',
       'former_entity_name13', 'former_entity_name14', 'former_entity_name15',
       'uen_of_audit_firm1', 'name_of_audit_firm1', 'uen_of_audit_firm2',
       'name_of_audit_firm2', 'uen_of_audit_firm3', 'name_of_audit_firm3',
       'uen_of_audit_firm4', 'name_of_audit_firm4', 'uen_of_audit_firm5',
       'name_of_audit_firm5'],
      dtype='object')

In [12]:
cols_to_drop = [
    'uen', 'issuance_agency_id', 'entity_type_description', 'company_type_description',
    'paf_constitution_description', 'uen_issue_date', 
    'account_due_date', 'annual_return_date', 'primary_ssic_code',
    'primary_ssic_description', 'primary_user_described_activity',
    'secondary_ssic_code', 'secondary_ssic_description',
    'secondary_user_described_activity', 'no_of_officers',
    'former_entity_name1', 'former_entity_name2', 'former_entity_name3',
    'former_entity_name4', 'former_entity_name5', 'former_entity_name6',
    'former_entity_name7', 'former_entity_name8', 'former_entity_name9',
    'former_entity_name10', 'former_entity_name11', 'former_entity_name12',
    'former_entity_name13', 'former_entity_name14', 'former_entity_name15',
    'uen_of_audit_firm1', 'name_of_audit_firm1', 'uen_of_audit_firm2',
    'name_of_audit_firm2', 'uen_of_audit_firm3', 'name_of_audit_firm3',
    'uen_of_audit_firm4', 'name_of_audit_firm4', 'uen_of_audit_firm5',
    'name_of_audit_firm5'
]

df = df.drop(columns=cols_to_drop, errors="ignore")

In [13]:
df['entity_status_description'].value_counts()

entity_status_description
Struck Off                                                        484726
Live Company                                                      452287
Terminated                                                        355163
Cancelled                                                         302625
Live                                                              152265
Cancelled (Non-Renewal)                                           128048
Ceased Registration                                               106011
Dissolved - Members Voluntary Winding Up                           34488
Gazetted To Be Struck Off                                           7216
Dissolved - Compulsory Winding Up (Insolvency)                      6082
Converted To LLP                                                    4133
Dissolved - Creditors Voluntary Winding Up                          3814
Amalgamated                                                         2489
Registration expired and has not been renewed                       2030
In Liquidation - Compulsory Winding Up (Insolvency)                 1714
Cancellation In Progress                                            1471
In Liquidation - Members voluntary winding up                       1128
In Liquidation - Creditors voluntary winding up                      807
Removed (Applied To Be Revoked)                                      322
Dissolved                                                            248
Dissolved - Compulsory Winding Up                                    179
In Liquidation - Compulsory Winding Up                               163
Removed (Dissolved)                                                  106
Live (Receiver or Receiver and Manager appointed)                     99
Struck Off (Early Dissolution)                                        73
Suspended                                                             56
Struck Off (Early Dissolution - simplified winding up)                48
To Be Ceased                                                          32
Dissolved - Partner Voluntary Winding Up                              26
In Liquidation - Simplified Winding Up                                24
In Liquidation                                                        19
Under Judicial Management                                             15
Dissolved - Simplified Winding Up                                     13
Dissolved - Pursuant to Section 212(1)(D) Of The Companies Act        12
Ceased Registration (Transferred to Singapore)                         6
In Liquidation - Partners voluntary winding up                         3
Revoked (Failed To Transfer Registration)                              2
Name: count, dtype: int64

In [14]:
df.shape

(2047943, 13)

In [15]:
df = df[df['entity_status_description'].str.contains('live', case=False, na=False)]

In [16]:
df.shape

(604651, 13)

In [17]:
df.head()

,entity_name,business_constitution_description,entity_status_description,registration_incorporation_date,address_type,block,street_name,level_no,unit_no,building_name,postal_code,other_address_line1,other_address_line2
2,GOH SOON MOH UNDERTAKER,Partnership,Live,1974-10-03,LOCAL,88,GEYLANG BAHRU,01,2728,GEYLANG BAHRU INDUSTRIAL ESTATE,339696,na,na
27,GLOBE ART STUDIO,Sole-Proprietor,Live,1974-11-27,LOCAL,77,GEYLANG BAHRU,01,2814,GEYLANG BAHRU INDUSTRIAL ESTATE,339685,na,na
44,GREAT CHINA TRADING COMPANY,Partnership,Live,1974-11-14,LOCAL,330,BALESTIER ROAD,na,na,na,329762,na,na
50,GLORY & CO,Partnership,Live,1974-10-08,LOCAL,639,BEDOK RESERVOIR ROAD,09,49,EUNOS TENAGA VILLE,410639,na,na
53,GOLDEN DRAGON STORE,Partnership,Live,1974-11-05,LOCAL,203,HENDERSON ROAD,07,02,HENDERSON INDUSTRIAL PARK,159546,na,na

In [18]:
df['postal_code'].value_counts()

postal_code
409051    13719
079903     7532
068914     4418
179098     4121
79903      3918
          ...
806064        1
289971        1
597421        1
486858        1
162018        1
Name: count, Length: 67806, dtype: int64

In [ ]:
#Keep only postal codes which have more than 1000 businesses registered to them